html{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65%;
}

body{
    margin: 0;
    background-color: black;
}

section{
    position:absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section header li{
    height: 30px; 
    background: rgba(3,2,24,1);
    padding: 10px; 
    border-radius: 20px;
    color: white;
    margin: 4% 4%;
    margin-bottom: 30px;
}

section header li strong{
    text-align: center;
    font-size:2rem;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form button{
    border: none;
    background-color: transparent;
}

form button:active{
    opacity: 0.7;
}

@media screen and (max-width:768px){
    html{
        font-size: 50%;
    }
}